@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.nav-bar{
    background-color: rgb(0, 21, 255);
    display: flex;
    width: 100%;
    height: 100px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.nav-links a{
    text-decoration: none;
    color: white;
 }
 
 .nav-links li{
     list-style-type: none;
 }

.form{
    margin: 200px 0 0 200px;
}

table {
    width: 700px;
    text-align: center;
    border: 1px solid #fff;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
  margin: auto;
    width: 900px;
}



table td {
    padding: 10px;
    background-color: #eee;
}

table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}